

i {
  color: azure;
  text-shadow: 0 0 20px ;
  font-size: 12em;
}

// .sunny {
// background: #F2994A; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #F2994A , #F2C94C); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to left, #F2994A , #F2C94C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

// .sunny {
//   background: yellow;
// }

// .cloudy {
//   background: gray;
// }

// .rainy {
//   background: blue;
// }

li a {
  text-decoration: none;
}
ul {
  list-style: none;
}



// Section Containers
section {
height:100%;
  width: 100%;
  position: relative;
  color: white;
}

#homescreen {
  background: azure;
  color:black;
  height:100%;
  width: 100%;

}

#cheney {
  background: red;

}

#granger {
  background: green;
 
}

#geo {
  background: blue;
 
}

:target {
  z-index: 1;
}

// forecast
aside figure{
  background: dodgerblue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

figcaption{
  font-size: 1.5em;
}



// aside figure:nth-child(2){
//   background: red;
// }



// Minimal initial style of sidebar
$sidebar-width: 16em;
$sidebar-width-neg: -16em;

.sidr {
    background: dodgerblue;
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: $sidebar-width;
    overflow-x: hidden;
    overflow-y: auto;

    &.left {
        left: $sidebar-width-neg;
        right: auto;
    }
}